.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.characterContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.pcTitle, .npcTitle {
    color: #b01111;
    font-size: 3em;
}

.pcContent {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.character img {
    max-width: 100px;
}